.board{
    min-width: 290px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;

}
.board-top{
    display: flex;
}
.board_to_title{
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: bold;
    gap:5px;

}
.board_to_title span{
    color: gray;
}
.board_cards{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-bottom: 10px;
    overflow-y:auto ;
    height: 100%;
    flex: 1;

}

.board_cards_add{
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 0 1px rgb(223, 181, 103);
}

.board_cards_add:hover{
    box-shadow: 1px 2px 0 1px  white;
}

.board_top_more{
    position: relative;
    cursor: pointer;
}

board_dropdown{
    background-color: white;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 0 20px rgba(0 0 0 0.1);
}

.board_dropdown p{
    cursor: pointer;
}
